{% load static %}
<footer id="site-footer" role="contentinfo" class="site-footer with-bg-image">
		<div class="widgets-area">
            <aside id="block-9" class="widget widget_block">
                <div class="wp-block-columns">
                    <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:25%">
                        <p class="has-text-align-center has-small-font-size" style="line-height:1.8">
                                <strong>4310 JUNKINS AVE.<br><a href="https://urbanwear.thunder-stores.com/#">ASHBURN</a>, GA, 31714
        <br>012 345 6677</strong>
                        </p>
                    </div>
                    <div class="wp-block-column" style="flex-basis:50%">
                        <h3 class="has-text-align-center">New York urban wear encompasses elements of sportswear, punk, skateboarding and centers around casual, comfortable pieces such as Jeans, T-Shirts, Caps and Sneakers</h3>
                    </div>
                    <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:25%">
                        <p class="has-text-align-center" style="font-size:13px;line-height:1.8">
                            <strong>
                                <a href="https://urbanwear.thunder-stores.com/#">TWITTER</a>
                                <br>
                                <a href="https://urbanwear.thunder-stores.com/#">INSTAGRAM</a>
                                <br>
                                <a href="https://urbanwear.thunder-stores.com/#">FACEBOOK</a>
                            </strong>
                        </p>
                     </div>
                    </div>
                </aside>
        </div>
</footer><!-- #site-footer -->


	<!-- #page -->

<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@graph":[{"@context":"https:\/\/schema.org\/","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"name":"Home","@id":"https:\/\/urbanwear.thunder-stores.com"}}]},{"@context":"https:\/\/schema.org\/","@type":"WebSite","name":"Urban Wear","url":"https:\/\/urbanwear.thunder-stores.com","potentialAction":{"@type":"SearchAction","target":"https:\/\/urbanwear.thunder-stores.com\/?s={search_term_string}&amp;post_type=product","query-input":"required name=search_term_string"}}]}</script>	<script type="text/javascript">
		(function () {
			var c = document.body.className;
			c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
			document.body.className = c;
		})();
</script>
<script type="text/javascript" src="{% static 'js/jquery.blockUI.min.js' %}" id="jquery-blockui-js"></script>
<script type="text/javascript" id="wc-add-to-cart-js-extra"></script>
<script type="text/javascript" src="add-to-cart.min.js" id="wc-add-to-cart-js"></script>
<script type="text/javascript" src="{% static 'js/js.cookie.min.js' %}" id="js-cookie-js"></script>
<script type="text/javascript" id="woocommerce-js-extra">

/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type="text/javascript" src="{% static 'js/woocommerce.min.js' %}" id="woocommerce-js"></script>
<script type="text/javascript" id="wc-cart-fragments-js-extra">
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_b8c6e4c767133b4b17055e99de8b6a61","fragment_name":"wc_fragments_b8c6e4c767133b4b17055e99de8b6a61","request_timeout":"5000"};
/* ]]> */
</script>
<script type="text/javascript" src="{% static 'js/cart-fragments.min.js' %}" id="wc-cart-fragments-js"></script>
<script type="text/javascript" src="{% static 'js/comment-reply.min.js' %}" id="comment-reply-js"></script>
<script type="text/javascript" id="urban-wear-main-js-extra">
/* <![CDATA[ */
var urban_wear = {"pagination":"load-more","products_per_page":"30","load_more_text":"Load More"};
/* ]]> */
</script>
<script type="text/javascript" src="{% static 'js/scripts.min.js' %}" id="urban-wear-main-js"></script>
<script type="text/javascript" src="{% static 'js/wp-embed.min.js' %}" id="wp-embed-js"></script>
<script type="text/javascript" src="{% static 'js/core.min.js' %}" id="jquery-ui-core-js"></script>
<script type="text/javascript" src="{% static 'js/mouse.min.js' %}" id="jquery-ui-mouse-js"></script>
<script type="text/javascript" src="{% static 'js/slider.min.js' %}" id="jquery-ui-slider-js"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui-touch-punch.min.js' %}" id="wc-jquery-ui-touchpunch-js"></script>
<script type="text/javascript" src="{% static 'js/accounting.min.js' %}" id="accounting-js"></script>
<script type="text/javascript" id="wc-price-slider-js-extra">
/* <![CDATA[ */
var woocommerce_price_slider_params = {"currency_format_num_decimals":"0","currency_format_symbol":"$","currency_format_decimal_sep":".","currency_format_thousand_sep":",","currency_format":"%s%v"};
/* ]]> */
</script>
<script type="text/javascript" src="{% static 'js/price-slider.min.js' %}" id="wc-price-slider-js"></script>




