{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags %}
<html class="js" lang="en-US">
{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}


 <body class="home archive post-type-archive post-type-archive-product custom-background wp-custom-logo wp-embed-responsive theme-urban-wear woocommerce-shop woocommerce woocommerce-page woocommerce-demo-store woocommerce-js">


 <div id="page" class="site">
   <a class="skip-link screen-reader-text" href="https://urbanwear.thunder-stores.com/#content">Skip to content</a>

{% block header %}
    {% include "includes/header.html" %}
{% endblock header %}

{% block top_menu %}
		<div id="content" class="site-content">
			<div id="primary" class="content-area">
				<main id="main" class="site-main" role="main" style="padding-top: calc(2.75rem + 93.5px);">

					<div class="overlay"></div>
	<div class="woocommerce-products-toolbar flex flex-column-md-down flex-row-md-up">

					<div class="flex-1 text-left filters-column">
						<button class="filters-toggle">
			<span class="screen-reader-text">Shop Filters Toggle</span>
			Filters		</button>
		<form class="woocommerce-ordering" method="get">
	<select name="orderby" class="orderby" aria-label="Shop order">
					<option value="popularity">Sort by popularity</option>
					<option value="rating">Sort by average rating</option>
					<option value="date" selected="selected">Sort by latest</option>
					<option value="price">Sort by price: low to high</option>
					<option value="price-desc">Sort by price: high to low</option>
			</select>
	<input type="hidden" name="paged" value="1">
	<span class="select-width-helper">Sort by latest</span></form>
			</div>

		<div class="flex-1 text-left-md-down text-right-md text-center-lg-up breadcrumbs-column">
					</div>

					<div class="flex-1 text-right hidden-lg-down grid-column">
					<div class="woocommerce-products-per-row">
		<p>View</p>
		<button data-columns="2" class="">2</button>
		<button data-columns="3" class="">3</button>
		<button data-columns="4" class="">4</button>
		<button data-columns="5" class="">5</button>
		<button data-columns="6" class="active">6</button>
	</div>
				</div>

	</div>

                    {% endblock top_menu %}
 {% block body %}

 {% endblock body %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock footer %}
</body>
          </html>
